<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mv">
	<resultMap id="mvVOMap" 
			   type="com.ktdsuniversity.admin.mv.vo.MvVO"
			   autoMapping="true">
		<id property="mvId" column ="MV_ID" />
		<association property = "crtrMbrVO"
					 javaType= "com.ktdsuniversity.admin.mbr.vo.MbrVO">
			<id property ="mbrId" column="CRTR" />
			<result property="mbrNm" column="CRTR_NM"/>		
		</association>
		<association property = "mdfyrMbrVO"
					 javaType= "com.ktdsuniversity.admin.mbr.vo.MbrVO">
			<id property ="mbrId" column="MDFYR" />
			<result property="mbrNm" column="MDFYR_NM"/>	
		</association>
		<collection property="gnrList"
					 ofType="com.ktdsuniversity.admin.mvgnr.vo.MvGnrVO">
				<id property ="gnrId" column="GNR_ID" />
				<result property="mvId" column="MV_ID"/>	
				<association property="gnrVO"
							 javaType="com.ktdsuniversity.admin.gnr.vo.GnrVO">
					<id property ="gnrId" column="GNR_ID" />
					<result property="gnrNm" column="GNR_NM"/>						 
				</association>
		</collection>
		<collection property="mvPplList"
		            ofType="com.ktdsuniversity.admin.prdcprtcptnppl.vo.PrdcPrtcptnPplVO">
			<id property ="prdcPrtcptnId" column="PRDC_PRTCPTN_ID" />
			<result property="mvId" column="MV_ID"/>	
			<result property="mvPplId" column="MV_PPL_ID"/>	
			<result property="mssn" column="MSSN"/>	
			<result property="rspnsbltRolNm" column="RSPNSBLT_ROL_NM"/>			
			<association property="mvPplVO"
					     javaType="com.ktdsuniversity.admin.mvppl.vo.MvPplVO">
					<id property ="mvPplId" column="MV_PPL_ID" />		
					<result property="nm" column="NM"/>	
					<result property="rlNm" column="RL_NM"/>	
					<result property="prflPctr" column="PRFL_PCTR"/>	
		    </association>       
		</collection>
	</resultMap>



	<insert id="createNewMv"
			parameterType="com.ktdsuniversity.admin.mv.vo.MvVO">
		<selectKey keyProperty="mvId" 
				   resultType="string"
				   order="BEFORE">
			SELECT 'MV-' || TO_CHAR(SYSDATE,'YYYYMMDD') || '-' || LPAD(SEQ_MV_PK.NEXTVAL,5,'0')
			  FROM DUAL
		</selectKey>	
		
		INSERT INTO MV
         (MV_ID
        , MV_TTL
        , ENG_TTL
        , SCRN_STT
        , SCRN_TM
        , OPNG_DT
        , GRD
        , PSTR
        , SMR
        , CRT_DT
        , CRTR
        , MDFY_DT
        , MDFYR
        , USE_YN
        , DEL_YN)
		VALUES
		 (#{mvId}
		, #{mvTtl}
		, #{engTtl}
		, #{scrnStt}
		, #{scrnTm}
		, TO_DATE(#{opngDt}, 'YYYY-MM-DD')
		, #{grd}
		, #{pstr}
		, #{smr}
		, SYSDATE
		, #{crtr}
		, SYSDATE
		, #{mdfyr}
		, NVL(#{useYn},'N')  
		, 'N' )
		
	</insert>
	
	<update id="updateOneMv"
			parameterType="com.ktdsuniversity.admin.mv.vo.MvVO">
		UPDATE MV
           SET MV_TTL = #{mvTtl}
             , ENG_TTL =  #{engTtl}
             , SCRN_STT =  #{scrnStt}
             , SCRN_TM = #{scrnTm}
             , OPNG_DT =  TO_DATE(#{opngDt}, 'YYYY-MM-DD')
             , GRD =  #{grd}
             , PSTR =  #{pstr}
             , SMR =  #{smr}
             , MDFY_DT = SYSDATE
             , MDFYR =  #{mdfyr}
         WHERE MV_ID = #{mvId}
		
	</update>
	

	<update id="deleteOneMvByMvId"
			parameterType="string">
		UPDATE MV
           SET DEL_YN='Y' 
		 WHERE MV_ID = #{_parameter}
	</update>
	
	
	
		<update id="deleteMvByMvIdList"
			parameterType="arraylist">
		UPDATE MOVIE.MV
          SET DEL_YN='Y' 
        WHERE MV_ID IN 
		<foreach collection="list" item="mvId" open="(" close=")" separator=", ">
			#{mvId}
		</foreach>
	</update>
	

	 	
	 <select id="readOneMvByMvId"
			parameterType="string"
			resultMap="mvVOMap">
			SELECT V.MV_ID
				 , V.MV_TTL
				 , V.ENG_TTL
				 , V.SCRN_STT
				 , V.SCRN_TM
				 , TO_CHAR(V.OPNG_DT,'YYYY-MM-DD') OPNG_DT
				 , V.GRD
				 , V.PSTR
				 , V.SMR
				 , TO_CHAR(V.CRT_DT,'YYYY-MM-DD HH24:MI:SS') CRT_DT
				 , V.CRTR
				 , TO_CHAR(V.MDFY_DT,'YYYY-MM-DD HH24:MI:SS') MDFY_DT
				 , V.MDFYR
				 , V.USE_YN
				 , V.DEL_YN
				 , G.GNR_NM
				 , G.GNR_ID
				 , PRP.PRDC_PRTCPTN_ID 
				 , PRP.MV_PPL_ID 
				 , PRP.MSSN 
				 , PRP.RSPNSBLT_ROL_NM 
				 , MP.NM 
				 , MP.RL_NM 
				 , MP.PRFL_PCTR 
			  FROM MV V
			 INNER JOIN MV_GNR MG 
			    ON V.MV_ID = MG.MV_ID 
			 INNER JOIN GNR G 
			    ON MG.GNR_ID = G.GNR_ID 
			 INNER JOIN PRDC_PRTCPTN_PPL PRP 
			    ON V.MV_ID =PRP.MV_ID 
			 INNER JOIN MV_PPL MP 
			    ON PRP.MV_PPL_ID =MP.MV_PPL_ID 
			 INNER JOIN MBR V_CRTR_MBR  <!--  -->
			    ON V.CRTR = V_CRTR_MBR.MBR_ID 
			 INNER JOIN MBR V_MDFYR_MBR <!--  -->
			    ON V.MDFYR =  V_MDFYR_MBR.MBR_ID 
			 WHERE V.MV_ID=#{_parameter}
			   AND V.DEL_YN ='N'
			   AND G.DEL_YN ='N'
			   AND MP.DEL_YN ='N'
			   AND MG.DEL_YN ='N'
			   AND PRP.DEL_YN ='N'		
	</select>
	
	
	<!--
	<select id="readAllMv"
			parameterType="com.ktdsuniversity.admin.mv.vo.MvVO"
			resultMap="resultMap">

		
	</select> -->
</mapper>